doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
    meta(charset="utf-8")
    title Quizzical - Game interface
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description",content="Play your quizzical games from here!")
    meta(name="author",content="Greg Thomas")
  body
    block content

  script(type='text/javascript' src='/main.js')